.about_container {
  display: grid;
  position: relative;
  height: 100%;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about {
  height: 100%;
}
.about_me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about_me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}
.about_me-image:hover {
  transform: rotate(0);
}

.about_content p {
  margin: 1rem 0 2.6rem;
  color: var(--color-light);
}
.timeline-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.timeline-line {
    width: 2px;
    height: 100%;
    background-color: #ddd;
    margin: 0 10px;
}

.timeline-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.timeline-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    background-color: #fff;
    color: #2f3136;
}

    .timeline-item.left {
        float: left;
    }

    .timeline-item.right {
        float: right;
    }

.timeline-item-date {
    font-size: 12px;
    color: #999;
}

.timeline-item-title {
    font-weight: bold;
    color: #ffc107;
}

.timeline-item-content {
    text-align: left;
}

@media screen and (max-width: 1024px) {
  .about {
    height: 100%;
  }
  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about_me {
    width: 40%;
    margin: auto;
  }
  .about_content {
    text-align: center;
    font-size: large;
    margin: auto;
    width: 95%;
  }
}

/*===== Media Query(Mobile)===*/
@media screen and (max-width: 600px) {
  .about {
    height: 100%;
  }
  .about_me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about_content {
    margin: auto;
    width: 95%;
    text-align: center;
  }

  .about_content p {
    margin: 1.5rem 0;
    font-size: medium;
  }
}
