header {
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.language_buttons {
  top: -5rem;
  position: absolute;
  right: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.language_buttons button {
  background: none;
  cursor: pointer;
}

.language_buttons button img {
  filter: brightness(0.7);
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}
.language_buttons button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.3s ease;
}


.language_buttons button:hover img {
  filter: brightness(0.9);
}

.language_buttons button.active img {
  filter: brightness(1.2);
}
/*_______________CTA________________*/
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header_socials {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 24px; 

}

.header_socials a {
  display: flex;
   border: 1px solid var(--color-primary);
  border-radius: 0.7rem;
  padding: 0.8rem;
  color: var(--color-white);
  background: transparent; 
}

.header_socials a:hover {
  background: var(--color-primary);
  color: var(--color-bg);
  border-color: var(--color-bg);
}

/*___________________HEADER SOCIALS______________*/


.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  /* header {
    height: 68vh;
  } */
}

@media screen and (max-width: 600px) {
  /* header {
    height: %;
  } */
  .scroll_down {
    display: none;
  }
}
