header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.language_buttons {
  top: -5rem;
  position: absolute;
  right: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.language_buttons button {
  background: none;
  cursor: pointer;
}

.language_buttons button img {
  filter: brightness(0.7);
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}
.language_buttons button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.3s ease;
}


.language_buttons button:hover img {
  filter: brightness(0.9);
}

.language_buttons button.active img {
  filter: brightness(1.2);
}
/*_______________CTA________________*/
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
/*___________________HEADER SOCIALS______________*/
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  align-items: flex-end;
}
.me img {
  width: auto;
  height: 125%;
  object-fit: cover;
  object-position: center top;
  margin-top: -2rem;
  margin-left: 1.5rem;
}
.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header_socials,
  .scroll_down {
    display: none;
  }
}
